.navbarContainer a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 25px;
    padding: 20px;
    margin-right: 20px;
}

.navbarContainer{
    display: flex;
    justify-content: flex-end;
}